.glyphicon {
    font-size: 80px;
}

#mySuccessModal .glyphicon {
    color: green;
}

#myFailureModal .glyphicon {
    color: red;
}

.sns-btn-area {
    margin-top: 40px;
}

.create-btn-area {
    margin-top: 20px;
    margin-bottom: 20px;
}

.step-icon {
    font-size: 50px;
    color: #999;
}

.step-icon-back {
    margin-bottom: 0px;
    padding: 20px 20px;
    color: white;
    background-color: #eee;
    border-radius: 100%;
    width: 90px;
}

.step-icon-1 {
    color: #EDA184;
}
.step-icon-2 {
    color: #B2CF3E;
}

.step-icon-3 {
    color: #1E98B9;
}

.navbar {
    margin-bottom: 0;
}

.step-label {
    margin-top: 0px;
}

.step-block {
    margin-bottom: 20px;
}

.title-area {
    color: white;
    height: 400px;
    background: url('../image/top/185916c6536d9700f6243e4f5cf76700_s.jpg');
    background-size: cover;
    background-position-y: 40%;
}
