html, body {
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
}

#wrap {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto -90px;
    padding: 0 0 117px;
}

#status-bar {
    position: absolute;
    width: 100%;
    z-index: 1;
    padding-top: 5px;
}

#footer {
    position: absolute;
    width: 100%;
    height: 66px;
    bottom: 0;
}

#footer-content {
    position: absolute;
    bottom: 5px;
    width: 100%;
}

#map-canvas {
    width: 100%;
    height: 100%;
}

.navbar {
    margin-bottom: 0;
}

#manualModal .glyphicon {
    font-size: 80px;
    color: blue;
}

.map-marker-icon {
    color: blue;
    font-size: 25px;
    vertical-align: middle;
}
