<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <title>いまここマップ|待ち合わせをスムーズに</title>
    <meta name="description" content="書き込みできる地図を友達と共有して待ち合わせをスムーズにするサービスです。"></meta>
    <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{/favicon.ico}"></link>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"></link>
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet"></link>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49530519-2', 'auto');
      ga('send', 'pageview');
    </script>

  </head>
  <body>
    <div class="jumbotron text-center title-area">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h1>いまここマップ</h1>
            <p>待ち合わせをスムーズに</p>
            <br/>
            <p>地図をみんなで共有して今いる場所を記録するサービスです。</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 center-blcok text-center">
            <button class="btn btn-primary btn-lg js-create-btn">地図を作成する</button>
          </div>
        </div>

        <div class="sns-btn-area">
          <div class="row">
            <div class="col-xs-12">
              <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              <div class="line-it-button" style="display: none;" data-type="share-a" data-lang="ja"></div>
              <script src="//scdn.line-apps.com/n/line_it/thirdparty/loader.min.js" async="async" defer="defer"></script>
            </div>
          </div>
          <div class="row">
            <a href="https://twitter.com/ktnet_cs" class="twitter-follow-button" data-show-count="false">Follow @ktnet_cs</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div>
        </div>

      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
      </div>
      <div class="row">
        <div class="col-sm-4 text-center step-block">
          <div class="step-icon-back center-block">
            <i class="fa fa-map step-icon step-icon-1" aria-hidden="true"></i>
          </div>
          <h3 class="text-center step-label">Step 1</h3>
          <p>地図を作りましょう。</p>
        </div>
        <div class="col-sm-4 text-center step-block">
          <div class="step-icon-back center-block">
            <i class="fa fa-envelope step-icon step-icon-2" aria-hidden="true"></i>
          </div>
          <h3 class="text-center step-label">Step 2</h3>
          <p>友達に地図のURLを教えましょう。</p>
        </div>
        <div class="col-sm-4 text-center step-block">
          <div class="step-icon-back center-block">
            <i class="fa fa-map-marker step-icon step-icon-3" aria-hidden="true"></i>
          </div>
          <h3 class="text-center step-label">Step 3</h3>
          <p>「いまここ」ボタンを押して位置を記録しましょう。</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 center-blcok text-center create-btn-area">
          <button class="btn btn-primary btn-lg js-create-btn">地図を作成する</button>
        </div>
      </div>
    </div>

    <div id="mySuccessModal" class="modal fade" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <table>
              <tr>
                <td>
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </td>
                <td>
                  <h3>地図の準備ができました</h3>
                  <p>地図のURLをみんなに教えて位置を記録していきましょう。</p>
                  <p>2日以上記録しなかった地図は自動的に消去されますので注意してください。</p>
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button id="successCloseButton" class="btn btn-primary" data-dismiss="modal">地図を開く</button>
          </div>
        </div>
      </div>
    </div>

    <div id="myFailureModal" class="modal fade" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <table>
              <tr>
                <td>
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </td>
                <td>
                  <h3>地図の準備ができませんでした</h3>
                  <p>時間をおいてからもう一度試してください。</p>
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button id="successCloseButton" class="btn btn-primary" data-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


    <script type="text/javascript" th:inline="javascript">
      /*<![CDATA[*/
      var CONTEXT = /*[[ @{/} ]]*/ '../static/';
      /*]]>*/
    </script>

    <script type="text/javascript" src="../static/js/api/api-base.js" th:src="@{/js/api/api-base.js}"></script>
    <script type="text/javascript" src="../static/js/api/stamp-sheet-api.js" th:src="@{/js/api/stamp-sheet-api.js}"></script>
    <script type="text/javascript" src="../static/js/index.js" th:src="@{/js/index.js}"></script>
  </body>
</html>
