<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <title>いまここマップ</title>
    <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{/favicon.ico}"></link>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet"></link>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h1>地図が見つかりませんでした</h1>
          <p>ごめんなさい。地図が見つかりませんでした。</p>
          <p>2日以上使わなかったのであれば削除されてしまったかもしれません。</p>
          <p>申し訳有りませんが、トップ画面から地図をもう一度作成してください。</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <a class="btn btn-primary btn-lg" href="./index.html" th:href="@{/}">トップへ戻る</a>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
      /*<![CDATA[*/
      var CONTEXT = /*[[ @{/} ]]*/ '../static';
      /*]]>*/
    </script>
  </body>
</html>
