<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"></meta>
    <title>いまここマップ</title>
    <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{/favicon.ico}"></link>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"></link>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet"></link>

    <link rel="stylesheet" type="text/css" href="../static/css/stampsheet.css" th:href="@{/css/stampsheet.css}" />
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/easy-button/easy-button.css" th:href="@{/css/easy-button/easy-button.css}" />
    <link rel="stylesheet" type="text/css" href="../static/lib/leaflet-icon-pulse/L.Icon.Pulse.css" th:href="@{/lib/leaflet-icon-pulse/L.Icon.Pulse.css}" />

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49530519-2', 'auto');
      ga('send', 'pageview');
    </script>

  </head>
  <body th:attr="
    data-stampsheet-id=${stampSheetId},
    data-latitude=${latitude},
    data-longitude=${longitude},
    data-trace-mode=${traceMode},
    data-open-stamp-id=${openStampId}">

    <div id="wrap">
      <div class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
          <a href="./index.html" th:href="@{/}" class="navbar-brand">いまここマップ</a>
        </div>
      </div>

      <div id="map-canvas"></div>

    </div>

    <div id="footer">
      <div id="footer-content" class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <span class="label label-default">名前</span>
            <span id="name-label">なし</span>
            <button class="btn btn-xs btn-default" data-toggle="modal" data-target="#nameModal">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <span id="autoRecordLabel" class="label label-warning pull-right hidden">いまここ自動記録中</span>
            <span id="disabledLocationLabel" class="label label-danger pull-right hidden">位置取得エラー</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="input-group">
              <input id="message" class="form-control" type="text" placeholder="メッセージ"></input>
              <span class="input-group-btn dropup">
                <button id="stampButton" class="btn btn-primary">
                  <span class="glyphicon glyphicon-map-marker">いまここ</span>
                </button>
                <button id="stampTypeList" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expand="false">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelleady="stampTypeList">
                  <li class="dropdown-header">目印を残せます</li>
                  <li role="presentation">
                    <a role="menuitem" value="1"><img src="../static/image/red-pushpin.png" th:src="@{/image/red-pushpin.png}" />マーカー1</a>
                  </li>
                  <li role="presentation">
                    <a role="menuitem" value="2"><img src="../static/image/grn-pushpin.png" th:src="@{/image/grn-pushpin.png}" />マーカー2</a>
                  </li>
                  <li role="presentation">
                    <a role="menuitem" value="3"><img src="../static/image/blue-pushpin.png" th:src="@{/image/blue-pushpin.png}" />マーカー3</a>
                  </li>
                </ul>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 説明ダイアログ -->
    <div id="manualModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <table>
              <tr>
                <td>
                  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                </td>
                <td>
                  <h3>「いまここ」ボタンを押して位置を記録しましょう。</h3>
                  <p>地図を見ている人みんなと位置/メッセージを共有できます。ボタンを押さないと位置は共有されないので、定期的にボタンを押しましょう。</p>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="invisibleManualModal">次からは表示しない</input>
                    </label>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 名前変更ダイアログ -->
    <div id="nameModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4>名前は？</h4>
          </div>
          <div class="modal-body">
            <input id="nameTextBox" type="text" name="name" class="form-control"></input>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 設定変更ダイアログ -->
    <div id="optionModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-body">
            <div class="container-fluid">
              <form class="form-horizontal">
                <div class="form-group">
                  <div class="col-xs-12">
                    <h4><span class="glyphicon glyphicon-cog">設定</span></h4>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-6">自分を追跡</label>
                  <div class="col-xs-6">
                    <input type="checkbox" name="trace"></input>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-6">いまここ自動記録</label>
                  <div class="col-xs-6">
                    <input type="checkbox" name="autoRecord"></input>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <h4><span class="glyphicon glyphicon-user">メンバー招待</span></h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    招待したいメンバーにURLを連絡してください。
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-2">URL</label>
                  <div class="col-xs-10">
                    <input id="urlTextBox" type="text" name="name" class="form-control" readonly="readonly"></input>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-10 col-xs-offset-2">
                    <div class="line-it-button pull-right" style="display: none;" data-type="share-a" data-lang="ja"></div>
                    <script src="//scdn.line-apps.com/n/line_it/thirdparty/loader.min.js" async="async" defer="defer"></script>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div>

    <div id="stampListModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-body">
            <h3><img src="../static/image/blue-pushpin.png" th:src="@{/image/blue-pushpin.png}" />いろんな一覧</h3>

            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab">いまここ<span class="badge imakoko-count">0</span></a></li>
              <li><a href="#tab2" data-toggle="tab">マーカー<span class="badge marker-count">0</span></a></li>
            </ul>

            <div id="tabContents" class="tab-content">
              <div id="tab1" class="tab-pane in active">
                <div class="table-responsive">
                  <table id="stamp-table" class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>メッセージ</th>
                        <th>更新日時</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>

              <div id="tab2" class="tab-pane">
                <div class="table-responsive">
                  <table id="marker-table" class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>メッセージ</th>
                        <th>更新日時</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>


          </div>

          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">閉じる</button>
          </div>

        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
    <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script type="text/javascript" src="../static/js/easy-button/easy-button.js" th:src="@{/js/easy-button/easy-button.js}"></script>
    <script type="text/javascript" src="../static/lib/leaflet-icon-pulse/L.Icon.Pulse.js" th:src="@{/lib/leaflet-icon-pulse/L.Icon.Pulse.js}"></script>

    <script type="text/javascript" th:inline="javascript">
      /*<![CDATA[*/
      var CONTEXT = /*[[ @{/} ]]*/ '../static';
      /*]]>*/
    </script>

    <script type="text/javascript" src="../static/js/api/api-base.js" th:src="@{/js/api/api-base.js}"></script>
    <script type="text/javascript" src="../static/js/api/stamp-sheet-api.js" th:src="@{/js/api/stamp-sheet-api.js}"></script>
    <script type="text/javascript" src="../static/js/api/stamp-api.js" th:src="@{/js/api/stamp-api.js}"></script>
    <script type="text/javascript" src="../static/js/leaflet-map.js" th:src="@{/js/leaflet-map.js}"></script>
    <script type="text/javascript" src="../static/js/map.js" th:src="@{/js/map.js}"></script>
    <script type="text/javascript" src="../static/js/stampsheet.js" th:src="@{/js/stampsheet.js}"></script>
  </body>
</html>
